/* Custom Classes */

.fs-6 {
    font-size: 0.875rem;
}

.addBtn-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

.card:hover .addBtn-wrapper {
    grid-template-rows: 1fr;
}

.desc-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.3s ease-in-out;
}

.card:hover .desc-wrapper {
    grid-template-rows: 0fr;
}

.addBtn {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    min-height: 0;
    overflow: hidden;
    transform: translateY(6px);
}

.card:hover .addBtn {
    opacity: 1;
    transform: translateY(0);
    padding: 10px 0;
}

.itemDescription {
    opacity: 1;
    min-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.card:hover .itemDescription {
    opacity: 0;
    transform: translateY(2px);
}

.addBtn:hover {
    background: #6c2bc7;
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.likeBtn {
    transition: all 0.2s ease-in-out;
}

.likeBtn:hover {
    transform: translateY(-2px);
}