.cartItem {
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent !important;
}

.cartItem:hover {
    transform: translateY(-2px);
    border-color: var(--violet) !important;
}

.checkoutBtn {
    transition: all 0.2s ease-in-out;
}

.submitBtn {
    transition: all 0.2s ease-in-out;
    background-color: var(--medium-slate-blue);
}

.checkoutBtn:active {
    transform: scale(0.99);
}

.checkoutBtn:hover,
.submitBtn:hover {
    background-color: var(--purple) !important;
}

.totalPriceMenu {
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent !important;
}

.totalPriceMenu:hover {
    border-color: var(--plum) !important;
}

.checkoutArrow {
    transition: all 0.3s ease-in-out;
}

.checkoutBtn:hover .checkoutArrow {
    transform: translateX(3px);
}

.removeIcon {
    transition: all 0.3s ease-in-out;
}

.removeIcon:hover {
    transform: translateY(-2px);
}



/* Custom Classes */

.top-15 {
    top: 15%;
}

.orderAnime {
    min-height: 20vh !important;
    width: 30px !important;
    height: 30px !important;
}