<nav class="navbar navbar-expand-sm shadow-lg px-3 fixed-top navbar-dark">
    <div class="container-fluid">

        <div
            class="d-flex align-items-center gap-2 text-decoration-none">
            <a routerLink="/items"
                class="d-flex align-items-center text-decoration-none">
                <img src="images/logo.png" alt="ecom" width="50" height="50"
                    class="rounded d-inline-block align-text-top me-2" />

            </a>
            <div class="d-flex flex-column align-items-center">
                <p
                    class="fs-1 fw-bold m-0 text-white d-flex flex-column text-center">OTB
                    <span
                        class="headingSubtext text-white fs-5 mb-2 fw-normal">Own
                        The Best</span></p>
            </div>
        </div>

        <button class="navbar-toggler border border-0" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler" #nav>
            <ul
                class="navbar-nav ms-auto mb-2 mt-3 mt-sm-0 mb-lg-0 d-flex flex-row justify-content-around align-items-center gap-3">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive
                        #rlaHome="routerLinkActive"
                        (click)="nav.classList.remove('show')"
                        routerLink="/items">
                        <img
                            [src]="rlaHome.isActive ? 'icons/home-filled.svg' : 'icons/home-outlined.svg' "
                            alt="Home Icon" appTooltip title="Home"
                            [width]="rlaHome.isActive ? 32 : 35"
                            [height]="rlaHome.isActive ? 32 : 35" />

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page"
                        (click)="nav.classList.remove('show')"
                        routerLink="/favourites" routerLinkActive
                        #rla="routerLinkActive">
                        <img
                            [src]="rla.isActive ? 'icons/favorite-filled-red.svg' : 'icons/favorite-icon.svg'"
                            alt="Favorite Icon" class="position-relative"
                            appTooltip title="Favourites"
                            width="30" height="30" />
                        @if(favouriteItems().length > 0) {
                        <span
                            class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-info bg-danger">
                            {{ favouriteItems().length }}
                        </span>
                        }

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cart" routerLinkActive
                        #rlaCart="routerLinkActive"
                        (click)="nav.classList.remove('show')">
                        <img
                            [src]="rlaCart.isActive ? 'icons/cart-icon-filled.svg' : 'icons/cart-icon.svg'"
                            alt="Cart Icon"
                            width="32" height="32" appTooltip title="Cart" />
                        @if(cartItems().length > 0) {
                        <span
                            class="position-absolute top-25 start-75 translate-middle badge rounded-pill bg-info bg-danger">
                            {{ cartItems().length }}
                        </span>
                        }
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
