/* Custom Classes */

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.tableHeader th {
    background: var(--bright-lavender) !important;
    color: var(--sky-blue) !important;
}

.tableBody tr {
    transition: all 0.3s ease-in-out;
}

.tableBody tr:hover {
    background: var(--light-gray) !important;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
