<div class="container-fluid mt-7 px-sm-5 px-3 pb-4">
    <div class="row">
        <div class="col-12 mt-5 d-flex justify-content-between flex-wrap">
            <p
                class="h2 text-secondary d-flex justify-content-center align-items-center m-0">Favourite
                Items
                <img src="icons/favorite-filled-red.svg" alt="favourite-icon"
                    width="30" height="30" class="ms-2" />
            </p>

            @if(favouriteItems().length > 0) {
            <div class="d-flex flex-row gap-0 viewIcon">
                <button class="border-0 p-2 shadow rounded-start-2"
                    [class]="!isListView() ? 'bg-medium-slate-blue bg-gradient' : 'bg-light'"
                    (click)="toggleGridView()">
                    <img
                        [src]="!isListView() ? 'icons/grid-view-icon-light.svg' : 'icons/grid-view-icon-dark.svg'"
                        alt="grid-dark"
                        width="25" height="25"
                        class="cursor-pointer" />
                </button>

                <button class="border-0 p-2 shadow rounded-end-2"
                    [class]="isListView() ? 'bg-medium-slate-blue bg-gradient' : 'bg-light'"
                    (click)="toggleListView()">
                    <img
                        [src]="isListView() ? 'icons/list-view-icon-light.svg' : 'icons/list-view-icon-dark.svg'"
                        alt="list-dark"
                        width="25" height="25"
                        class="cursor-pointer" />
                </button>
            </div>
            }

        </div>

        @if(favouriteItems().length === 0) {
        <div
            class="d-flex flex-column justify-content-center align-items-center min-vh-60">
            <img src="icons/empty-box.svg" alt="empty-favorite"
                width="150"
                height="150" />
            <p class="h5 text-secondary mt-3">No favourite items yet.</p>
        </div>
        } @else {

        @if(isListView()) {
        
        <!-- Table view of favorite items -->
        <div class="col-12">
            <div class="favItems table-responsive rounded-4 my-4 shadow">

                <table class="table">
                    <thead class="tableHeader bg-gradient">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"
                                class="text-nowrap fw-medium p-3">PRODUCT
                                DETAILS</th>
                            <th scope="col" class="fw-medium p-3">CATEGORY</th>
                            <th scope="col" class="fw-medium p-3">PRICE</th>
                            <th scope="col" class="fw-medium p-3">STOCK</th>
                        </tr>
                    </thead>

                    @for(item of favouriteItems(); track item.id)
                    {
                    <tbody class="tableBody">

                        <tr>
                            <td class="fw-medium align-content-center border-0 p-lg-1 p-3">
                                <div
                                    class="d-flex align-items-center justify-content-center">
                                    <button class="btn border-0"
                                        data-bs-toggle="modal"
                                        data-bs-target="#removeItemModal"
                                        (click)="onConfirmation(item.id)">
                                        <img src="icons/remove-icon.svg"
                                            appTooltip title="Remove"
                                            alt="remove-favorite" width="20"
                                            height="20" />
                                    </button>
                                </div>

                            </td>
                            <td
                                class="fw-medium py-3 px-1 d-flex flex-md-row flex-column align-items-center border-0">
                                <img src="{{ item.imageUrl }}"
                                    alt="product-image" width="75" height="75"
                                    class="rounded me-3" />
                                <div class="mw-75">
                                    <p class="m-0 fs-4">{{ item.name }}</p>
                                    <p class="text-secondary m-0">{{
                                        item.description }}</p>
                                </div>
                            </td>
                            <td
                                class="fw-medium p-3 align-content-center border-0">
                                <div
                                    class="d-flex align-items-center">
                                    <span
                                        class="bg-light-gray bg-gradient bg-dark-purple text-white px-3 py-1 rounded-pill">
                                        {{ item.category }}
                                    </span>

                                </div>
                            </td>
                            <td
                                class="fw-medium p-3 align-content-center fs-5 border-0">{{
                                item.price.toFixed(2) | currency
                                }}</td>
                            <td
                                class="fw-medium p-3 align-content-center border-0">
                                <div
                                    class="d-flex align-items-center gap-2 fs-5">
                                    {{ item.stock }}
                                    <img src="icons/stock.svg" alt="Stock"
                                        width="20" height="20" class="me-1" />
                                </div>
                            </td>
                        </tr>

                    </tbody>
                    }
                </table>

            </div>
        </div>

        } @else {

        @for(item of favouriteItems(); track item.id) {

        <!-- Card view of favorite items -->
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 g-4">
            <div
                class="card shadow-lg border-1 border-danger p-3 rounded-4 h-100">
                <div class="position-relative">
                    <img src="{{ item.imageUrl }}"
                        class="card-img-top rounded-4 img-fluid"
                        alt="{{ item.name }} Image" />
                    <button
                        class="btn border-0 position-absolute mt-1 top-0 end-0 likeBtn"
                        (click)="onConfirmation(item.id)" data-bs-toggle="modal" data-bs-target="#removeItemModal">
                        <img
                            [src]="item.isLiked ? 'icons/favorite-filled-red.svg' : 'icons/favorite-icon-dark.svg'"
                            alt="favorite icon" width="23" height="23" />
                    </button>
                    <span
                        class="m-0 position-absolute m-2 top-0 start-0 bg-gradient bg-dark-purple text-white px-3 py-1 rounded-pill">{{
                        item.category }}</span>
                </div>

                <div class="card-body p-0 d-flex flex-column">
                    <div
                        class="d-flex align-items-center justify-content-between mt-2">
                        <p class="h4 card-title">{{ item.name }}</p>
                        <span class="fs-6 text-muted">05/28/2026</span>
                    </div>

                    <div class="desc-wrapper">
                        <p
                            class="card-text text-secondary mb-1 itemDescription">{{
                            item.description }}</p>
                    </div>

                    <hr class="mt-auto">

                    <div
                        class="d-flex flex-row justify-content-between align-items-center gap-2 flex-wrap-reverse">

                        <p class="card-text mt-auto m-0 fs-5 fw-semibold">{{
                            item.price.toFixed(2) | currency }}</p>

                        <div
                            class="text-end fw-medium fs-5 d-flex flex-row align-items-center gap-2">
                            <img src="icons/stock.svg" alt="stock"
                                width="25"
                                height="25">
                            <span class="m-0">{{ item.stock }}</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        }
        }
        }

    </div>
</div>

<!-- Remove Item Modal -->
<div class="modal fade" id="removeItemModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 d-flex justify-content-center align-items-center">
                <p class="modal-title fs-4 fw-medium" id="exampleModalLabel">Remove Confirmation !</p>
            </div>
            <div class="modal-body border-0">
                Are you sure you want to remove this item from your
                favourites?
            </div>
            <div class="modal-footer border-0 mt-2" data-bs-dismiss="modal">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger" (click)="removeLikedItem()">Remove</button>
            </div>
        </div>
    </div>
</div>